{
  box-sizing: border-box;
}


body{
  font-family:Comic Sans MS ;
   background-image: url(fondo\ lineal.jpg);
}


header{
   background-color: rgb(221, 8, 8);
   color:rgb(255, 255, 255);
   text-align: center;
   border-radius: 8px;
}

ul{
  color: white;
  padding: 20px 20px;
  margin: 50px 60px;
  font-size: 18px;
  display: flex;
  justify-content:center ;
  gap: 50px;
  word-spacing: 50px;
}

.content-flex{
  display: flex;
  padding: 20px;
  flex-direction: row;
  column-gap: 50px;
  background-color: blue;
}


.item-flex{
  padding: 40px;
  margin: 50px;
  color: white;
  background-color: white;
}

table{
  color: white;
  word-spacing: 100px;
  width: 100%;
  padding: 10px;
  margin: 50px;
  text-align:justify;
  font-family: Comic Sans MS;
}

main{
  max-width: 900px;
  background-image: url(naranja.jpeg);
  margin: auto;
  padding: 30px;
  border: 2px solid #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0,1) ;
}

 img{
  width: 70px;
  height: 7%;
  border-radius: 8px;
 }

div{
  background-image: url(blue.jpg);
  text-align: center;
  display: flex;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  font-family:Comic Sans MS;
  color: white;
}

h2{
  text-align: center;
  margin: 30px;
  padding: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
  margin: 30px;
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul{
  background-color: black;
  border-radius: 8px;
  border: 2px  solid #ffffff;
}

h3{
  display: flex;
  justify-content: left;
  text-align: left;
  margin: 10px;
  padding: 10x; 
  
}

section{
  display: flex;
  justify-content: right;

}

b{
  display: flex;
  background-color: rgb(221, 8, 8);
  border-radius: 8px;
  font-family: Comic Sans MS;
  text-align: center;
  color: #ffffff;
}
